In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ml-latest-small/ratings.csv')

In [3]:
df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [105]:
matrix_original = (df.pivot(index='userId', columns='movieId', values='rating')* 2).fillna(5) -5
matrix_original

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,3.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
matrix_original

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,8.0,0.0,8.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,5.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,5.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,10.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [106]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
matrix_original

users_votes = df.groupby('userId')['rating'].agg('count')
movies_votes = df.groupby('movieId')['rating'].agg('count')

user_mask = users_votes[users_votes > 50].index
movie_mask = movies_votes[movies_votes > 10].index

user_item_matrix = matrix_original.loc[user_mask, movie_mask]

csr_data = csr_matrix(user_item_matrix.values)

# user_item_matrix = user_item_matrix.rename_axis(None, axis = 1).reset_index()

In [107]:
user_item_matrix

movieId,1,2,3,5,6,7,9,10,11,12,...,159093,164179,166528,168250,168252,174055,176371,177765,179819,187593
userId,,,,,,,,,,,,,,,,,,,,,
1,3.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,3.0,5.0,5.0,3.0,3.0,0.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,-1.0,-1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,1.0,5.0,3.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0

In [108]:
knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute', n_neighbors = 20, n_jobs = -1)
knn.fit(csr_data)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=20)

In [118]:
movieIds = [5,12,3,10]

new_user_ratings = {key: value for key, value in zip(movieIds, [10,0,10,8])}

user = pd.DataFrame([np.ones(matrix_original.columns.shape)* 5] , columns=matrix_original.columns)
user.loc[:, new_user_ratings.keys()] = new_user_ratings.values()

user - 5

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,0.0,0.0,5,0.0,5,0.0,0.0,0.0,0.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
new_user_item_matrix = user.loc[:, movie_mask]

user_csr_data = csr_matrix(new_user_item_matrix.values)
distances, indices = knn.kneighbors(user_csr_data, n_neighbors=25)
closest_users_indexes = indices[0]

In [54]:
(100 - distances[0]*100) /( 100 - distances[0]*100)[0] * 88

array([88.        , 80.62126925, 68.27639584, 68.20470704, 67.11023606,
       65.20190326, 62.16060752, 59.74443883, 59.72944644, 58.9503334 ,
       56.66049118, 49.85629272, 48.28284541, 46.56965445, 43.95337517,
       43.82881974, 38.60292162, 38.08908117, 36.22327959, 35.29080555,
       34.88238597, 34.01796911, 33.7959227 , 33.74230284, 33.56220539])

In [57]:
def make_good(numbers, threshhold):
    while numbers[0] < threshhold:
        numbers = numbers*1.05 + numbers.mean()*0.05
    return numbers

make_good(100 - distances[0]*100, 88)

array([89.60074239, 85.64058628, 79.01510727, 78.97663197, 78.38923069,
       77.36503072, 75.73277088, 74.43601599, 74.4279696 , 74.00982055,
       72.78086492, 69.12905962, 68.2845923 , 67.36512473, 65.96097073,
       65.89412197, 63.08938861, 62.81361105, 61.81223754, 61.31177982,
       61.09258151, 60.62865   , 60.50947795, 60.48070024, 60.38404215])

In [45]:
92 - 81%
64 - 52%

SyntaxError: invalid syntax (2559311858.py, line 1)

In [12]:
new_user_ratings = {'1': 4, '2': 3, '3': 5, '7': 4, '10': 6}

In [11]:
# movie_ratings = new_user_ratings['movie_ratings']  # the key in the json data is 'movie_ratings'
# new_u_rat = dict(movie_ratings)
closest_users_indexes

array([ 28, 291, 209,   2, 198, 359, 143, 284,  78,  66, 307,  35, 220,
       106, 112, 150, 111,  21,  96,  80, 155,  88,  63,  27, 152],
      dtype=int64)

In [48]:
closest_users_indexes

array([ 28, 291, 209,   2, 198, 359, 143, 284,  78, 307,  66,  35, 220,
       106, 112, 150,  96, 111,  21,  80, 155,  88,  63,  27, 152],
      dtype=int64)

In [ ]:
list(new_u_rat.keys())

In [ ]:
user.loc[:, new_u_rat.keys()]

In [14]:
original_indexes = user_item_matrix.index[closest_users_indexes]
closest_original = user_item_matrix.loc[original_indexes]
closest_original#.loc[:, new_user_ratings.keys()]

movieId,1,2,3,5,6,7,9,10,11,12,...,159093,164179,166528,168250,168252,174055,176371,177765,179819,187593
userId,,,,,,,,,,,,,,,,,,,,,
43,10.0,0.0,10.0,10.0,0.0,10.0,0.0,8.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
470,8.0,6.0,6.0,6.0,6.0,6.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
337,8.0,0.0,8.0,8.0,10.0,6.0,10.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,8.0,10.0,10.0,8.0,8.0,0.0,6.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
321,0.0,10.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
588,0.0,0.0,6.0,0.0,10.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
229,10.0,0.0,0.0,6.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
458,0.0,8.0,0.0,6.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
117,0.0,6.0,6.0,6.0,6.0,8.0,0.0,6.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,0.0,0.0,10.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
492,8.0,0.0,8.0,6.0,6.0,6.0,10.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,0.0,0.0,6.0,8.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
353,10.0,8.0,0.0,6.0,8.0,0.0,6.0,6.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
169,9.0,8.0,10.0,10.0,0.0,9.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
181,0.0,0.0,0.0,6.0,6.0,6.0,0.0,4.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
240,10.0,10.0,8.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179,8.0,0.0,8.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151,10.0,0.0,6.0,0.0,0.0,0.0,8.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121,8.0,0.0,0.0,6.0,10.0,0.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,...,9.0,6.0,6.0,0.0,0.0,0.0,5.0,4.0,0.0,9.0
136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,0.0,0.0,8.0,0.0,0.0,6.0,0.0,10.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,0.0,0.0,0.0,0.0,10.0,0.0,0.0,10.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
user.loc[:, new_user_ratings.keys()]

movieId  5   12  3   10
0        10   0  10   8

In [15]:
closest_original.loc[:, new_user_ratings.keys()]

movieId    5    12    3     10
userId
43       10.0  0.0  10.0   8.0
470       6.0  0.0   6.0   6.0
337       8.0  6.0   8.0   0.0
6        10.0  0.0  10.0   6.0
321       6.0  0.0   6.0   0.0
588       0.0  0.0   6.0   6.0
229       6.0  0.0   0.0   8.0
458       6.0  0.0   0.0   8.0
117       6.0  0.0   6.0   6.0
102       0.0  0.0  10.0   0.0
492       6.0  6.0   8.0   0.0
58        8.0  0.0   6.0   0.0
353       6.0  0.0   0.0   6.0
169      10.0  0.0  10.0   0.0
181       6.0  0.0   0.0   4.0
240       0.0  0.0   8.0   6.0
179       0.0  0.0   8.0   0.0
34        0.0  0.0   0.0  10.0
151       0.0  6.0   6.0   0.0
121       6.0  0.0   0.0   0.0
248       0.0  0.0   0.0   7.0
136       0.0  0.0   0.0  10.0
99        0.0  0.0   0.0   8.0
42        0.0  0.0   8.0  10.0
244       0.0  0.0   0.0  10.0

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(closest_original.loc[:, new_user_ratings.keys()], user.loc[:, new_user_ratings.keys()]).flatten() - np.mean(np.abs(closest_original.loc[:, new_user_ratings.keys()].subtract(user.loc[:, new_user_ratings.keys()].iloc[0,:]))/10,axis=1)

userId
43     1.000000
470    0.744937
337    0.318946
6      0.943559
321    0.470388
588    0.383349
229    0.413167
458    0.413167
117    0.744937
102    0.165457
492    0.238851
58     0.511640
353    0.383349
169    0.670388
181    0.335207
240    0.437786
179    0.115457
34    -0.057634
151   -0.264806
121    0.065457
248   -0.032634
136   -0.057634
99    -0.007634
42     0.418946
244   -0.057634
dtype: float64

In [29]:
np.mean(np.abs(closest_original.loc[:, new_user_ratings.keys()].subtract(user.loc[:, new_user_ratings.keys()].iloc[0,:]))/10,axis=1)

userId
43     0.000
470    0.250
337    0.450
6      0.050
321    0.400
588    0.400
229    0.350
458    0.350
117    0.250
102    0.450
492    0.500
58     0.350
353    0.400
169    0.200
181    0.450
240    0.350
179    0.500
34     0.550
151    0.700
121    0.550
248    0.525
136    0.550
99     0.500
42     0.350
244    0.550
dtype: float64

In [35]:
np.abs(closest_original.loc[:, new_user_ratings.keys()].subtract(user.loc[:, new_user_ratings.keys()].iloc[0,:]))/10

movieId   5    12   3    10
userId
43       0.0  0.0  0.0  0.0
470      0.4  0.0  0.4  0.2
337      0.2  0.6  0.2  0.8
6        0.0  0.0  0.0  0.2
321      0.4  0.0  0.4  0.8
588      1.0  0.0  0.4  0.2
229      0.4  0.0  1.0  0.0
458      0.4  0.0  1.0  0.0
117      0.4  0.0  0.4  0.2
102      1.0  0.0  0.0  0.8
492      0.4  0.6  0.2  0.8
58       0.2  0.0  0.4  0.8
353      0.4  0.0  1.0  0.2
169      0.0  0.0  0.0  0.8
181      0.4  0.0  1.0  0.4
240      1.0  0.0  0.2  0.2
179      1.0  0.0  0.2  0.8
34       1.0  0.0  1.0  0.2
151      1.0  0.6  0.4  0.8
121      0.4  0.0  1.0  0.8
248      1.0  0.0  1.0  0.1
136      1.0  0.0  1.0  0.2
99       1.0  0.0  1.0  0.0
42       1.0  0.0  0.2  0.2
244      1.0  0.0  1.0  0.2

In [115]:
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity

x = np.array([[10, 0, 10, 8, 0, 3, 5, 3, 9, 9, 9, 9, 9, 9, 9],
              [10, 0, 10, 8, 0, 1, 1, 1, 9, 9, 1, 1, 9, 9, 9]])
y = np.array([10, 0, 10, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

cosine_distance = pairwise_distances(x, y.reshape(1, -1), metric='cosine')
cosine_similarity = cosine_similarity(x, y.reshape(1, -1))
cosine_distance, cosine_similarity * 100

(array([[0.4504006 ],
        [0.37414747]]),
 array([[54.95993964],
        [62.58525343]]))

In [99]:
from numpy import dot
from numpy.linalg import norm

cos_sim = dot(x, y)/(norm(x)*norm(y))

In [100]:
cos_sim

0.5495993964402669

In [114]:
dot(x[1], y)

264

In [107]:
norm(x)

29.563490998188964

In [ ]:
{'closest': original_indexes.values.tolist()}

In [ ]:
import pickle

In [ ]:
matrix_original = pd.read_csv('matrix_original.csv')
user_item_matrix = pd.read_csv('user_item_matrix.csv')
user_item_matrix.set_index('userId',inplace=True)
model = pickle.load(open('csr_model.pkl', 'rb'))

In [ ]:
new_user_ratings = {'1': 4, '2': 3, '3': 5, '7': 4, '10': 6}
user = pd.DataFrame([np.zeros(matrix_original.columns.shape)], columns=matrix_original.columns)
user.loc[:, new_user_ratings.keys()] = new_user_ratings.values()

user_mask = user_item_matrix.index
movie_mask = user_item_matrix.columns

new_user_item_matrix = user.loc[:, movie_mask]

user_csr_data = csr_matrix(new_user_item_matrix.values)

In [ ]:
distances, indices = model.kneighbors(user_csr_data, n_neighbors=25)
closest_users_indexes = indices[0]
original_indexes = user_item_matrix.index[closest_users_indexes]

In [127]:
import requests
import json

# Prepare the JSON object to send to the server
movieIds = ['10', '24', '1', '7', '10']

new_user_ratings = {key: value for key, value in zip(movieIds, [4, 3, 5, 4, 6])}
data = {'input': 5}
headers = {'Content-type': 'application/json'}

# Send the JSON object to the server and get the response
response1 = requests.post('http://18.159.103.9:8080/mates', data=json.dumps(new_user_ratings), headers=headers)
# response = requests.post('http://localhost:5000/mates', data=json.dumps(new_user_ratings), headers=headers)

# Print the response from the server
# print(response.json())
# print(response.text)

In [126]:
response1.json()

{'151': 69.84377446666255,
 '178': 76.17065367657878,
 '179': 70.44272703258582,
 '181': 71.00138721934808,
 '229': 86.13725844742306,
 '240': 69.20842810941467,
 '262': 71.63839546737458,
 '304': 73.75641284766007,
 '314': 80.47543611300817,
 '32': 71.50489462674084,
 '322': 73.94236410272565,
 '334': 68.60224705810072,
 '337': 78.38268073854753,
 '341': 69.42963408511757,
 '353': 76.95045810625736,
 '411': 82.06539098084899,
 '43': 83.44738070477476,
 '470': 85.15824802637046,
 '476': 76.57928786233015,
 '524': 71.8578578094304,
 '541': 88.4943009396088,
 '559': 72.22715463934259,
 '566': 72.08890728339345,
 '584': 81.0337741781415,
 '90': 79.3564126249039}

In [128]:
new_user_ratings

{'10': 6, '24': 3, '1': 5, '7': 4}

In [129]:
original_indexes.values.tolist()

[43,
 470,
 337,
 6,
 321,
 588,
 229,
 458,
 117,
 102,
 492,
 58,
 353,
 169,
 181,
 240,
 179,
 34,
 151,
 121,
 248,
 136,
 99,
 42,
 244]

In [130]:
response1.json()

{'151': 69.84377446666255,
 '178': 76.17065367657878,
 '179': 70.44272703258582,
 '181': 71.00138721934808,
 '229': 86.13725844742306,
 '240': 69.20842810941467,
 '262': 71.63839546737458,
 '304': 73.75641284766007,
 '314': 80.47543611300817,
 '32': 71.50489462674084,
 '322': 73.94236410272565,
 '334': 68.60224705810072,
 '337': 78.38268073854753,
 '341': 69.42963408511757,
 '353': 76.95045810625736,
 '411': 82.06539098084899,
 '43': 83.44738070477476,
 '470': 85.15824802637046,
 '476': 76.57928786233015,
 '524': 71.8578578094304,
 '541': 88.4943009396088,
 '559': 72.22715463934259,
 '566': 72.08890728339345,
 '584': 81.0337741781415,
 '90': 79.3564126249039}

In [ ]:
original_indexes = user_item_matrix.index[closest_users_indexes]
closest_original = user_item_matrix.loc[original_indexes]
closest_original

In [ ]:
# # Get the mean rating for each user
# user_means = matrix_original.mean(axis=1)

# # Subtract the mean rating for each user from their ratings
# matrix_corrected = matrix_original.subtract(user_means, axis=0)

In [ ]:
matrix_corrected = matrix_original

In [ ]:
matrix_corrected.fillna(0, inplace=True)

In [ ]:
# from sklearn.preprocessing import MinMaxScaler
# sclr = MinMaxScaler()
# matrix_normalized_nn = sclr.fit_transform(matrix_normalized)

In [ ]:
from sklearn.decomposition import NMF
from sklearn.preprocessing import MinMaxScaler

sclr = MinMaxScaler()
nmf = NMF(max_iter=5000, n_components=100)

# W = nmf.fit_transform(sclr.fit_transform(matrix_corrected))
W = nmf.fit_transform(matrix_corrected)
H = nmf.components_

# matrix_reconstructed = sclr.inverse_transform(np.dot(W, H))
matrix_reconstructed = np.dot(W, H)

In [ ]:
# pred_rat = sclr.inverse_transform(matrix_reconstructed)
matrix_pred_nmf = pd.DataFrame(matrix_reconstructed, columns=matrix_original.columns).set_index(matrix_original.index)

In [ ]:
matrix_original

In [ ]:
# matrix_pred_nmf = matrix_pred_nmf.add(user_means, axis=0)
matrix_pred_nmf.round()

In [ ]:
movieIds = [1,2,3,7,8]

new_user_ratings = {key: value for key, value in zip(movieIds, [4,3,5,4,6])}

new_user_ratings

user = pd.DataFrame([np.zeros(matrix_original.columns.shape)], columns=matrix_original.columns)

user.loc[:, new_user_ratings.keys()] = new_user_ratings.values()

user

In [ ]:
W1 = nmf.transform(user)
H1 = nmf.components_

user_reconstructed = np.dot(W1, H1)

In [ ]:
user_reconstructed = pd.DataFrame(user_reconstructed, columns=matrix_original.columns)

In [ ]:
user_reconstructed

In [ ]:
matrix_original = df.pivot(index='userId', columns='movieId', values='rating')

In [ ]:
matrix_original.fillna(0, inplace=True)
matrix_original

In [ ]:
# from sklearn.decomposition import NMF
# from sklearn.neighbors import NearestNeighbors
# import pandas as pd

# # Create pivot table of user-film ratings


# # Fit NMF model to the original matrix
# nmf = NMF(n_components=100)
# nmf.fit(matrix_original)

# # Get the user latent features
# user_latent_features = nmf.transform(matrix_original)

# # Use NearestNeighbors to find the N closest users
# knn = NearestNeighbors(n_neighbors=50, metric='cosine')
# knn.fit(user_latent_features)

# # Find the N closest users for a new user
# # new_user_ratings = [5, 4, 3, 2, 1] # example ratings for 5 movies
# # new_user_latent_features = nmf.transform(new_user_ratings)
# new_user_latent_features = nmf.transform(user)
# closest_users = knn.kneighbors(new_user_latent_features, return_distance=False)

# # closest_users will be an array of shape (1,N) containing the indices of the closest users in the original matrix

In [ ]:
# closest_users

In [ ]:
# user[new_user_ratings.keys()]

In [ ]:
# matrix_original.iloc[closest_users[0],:].loc[:, new_user_ratings.keys()]

In [ ]:
# matrix_original

In [ ]:
# import implicit


# from scipy.sparse import csr_matrix
# matrix_original = df.pivot(index='userId', columns='movieId', values='rating')

# matrix_original.fillna(0, inplace=True)

# # matrix_original_sparse = csr_matrix(matrix_original.values)
# pmf = implicit.als.AlternatingLeastSquares(factors=50)
# pmf.fit(matrix_original_sparse.T)
# # matrix_filled = pmf.complete(matrix_original_sparse.T)
# matrix_filled = np.dot(pmf.user_factors, pmf.item_factors.T)



# # matrix_original = df.pivot(index='userId', columns='movieId', values='rating')

# # pmf = implicit.als.AlternatingLeastSquares(factors=50)

# # pmf.fit(matrix_original.T.tocsr())

# # matrix_filled = pmf.complete(matrix_original.T.tocsr())

In [ ]:
# matrix_filled = pd.DataFrame(matrix_filled.T, columns=matrix_original.columns).set_index(matrix_original.index)

In [ ]:
# matrix_filled

In [ ]:
# matrix_pred_nmf

In [ ]:
# matrix_normalized

In [ ]:
# # matrix_normalized.to_numpy().shape
# matrix_original = df.pivot(index='userId', columns='movieId', values='rating')*2
# matrix_original.fillna(0, inplace=True)

In [ ]:
# import numpy as np
# from scipy.sparse.linalg import svds

# # Load your user-film rating matrix
# matrix_normalized_np = matrix_original.to_numpy()

# # Get the indices of the missing values in the matrix
# missing_values = np.where(matrix_normalized_np == 0)

# # Perform SVD on the matrix
# U, S, VT = svds(matrix_normalized_np, k=500)

# # Compute the dot product of U, S, and VT
# predicted_ratings = np.dot(np.dot(U, np.diag(S)), VT)

# # Fill in the missing values in the matrix with the predicted values
# matrix_normalized_np[missing_values] = predicted_ratings[missing_values]

In [ ]:
# matrix_predicted = pd.DataFrame(matrix_normalized_np, columns=matrix_original.columns).set_index(matrix_original.index)

In [ ]:
# matrix_predicted_filled = (matrix_predicted.T + matrix_original.mean(axis=1)).T

In [ ]:
# matrix_predicted_filled.round()

In [ ]:
matrix_original = df.pivot(index='userId', columns='movieId', values='rating')*2
matrix_original.fillna(0, inplace=True)

In [ ]:
matrix_original

In [ ]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
matrix_original

users_votes = df.groupby('userId')['rating'].agg('count')

movies_votes = df.groupby('movieId')['rating'].agg('count')

user_mask = users_votes[users_votes > 50].index
movie_mask = movies_votes[movies_votes > 10].index

user_item_matrix = matrix_original.loc[user_mask, movie_mask]

csr_data = csr_matrix(user_item_matrix.values)

# user_item_matrix = user_item_matrix.rename_axis(None, axis = 1).reset_index()

knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute', n_neighbors = 20, n_jobs = -1)

knn.fit(csr_data)

In [ ]:
import random

movieIds = random.sample(matrix_original.columns.to_list(), 3)

In [ ]:
movieIds = [1,2,3,7,10]

new_user_ratings = {key: value for key, value in zip(movieIds, [4,3,5,4,6])}

new_user_ratings

user = pd.DataFrame([np.zeros(matrix_original.columns.shape)], columns=matrix_original.columns)

user.loc[:, new_user_ratings.keys()] = new_user_ratings.values()

user

In [ ]:

# # Convert new user's ratings to a dataframe
# new_user_ratings = pd.DataFrame(list(new_user_ratings.items()), columns = ['movieId', 'rating'])

# # Merge the new user's ratings with the existing user-item matrix to align the movieId's
# new_user_matrix = pd.merge(user_item_matrix, new_user_ratings, on='movieId', how='outer')

# # Fill any missing values with 0
# new_user_matrix.fillna(0, inplace=True)

# # Get the index of the new user in the user-item matrix
# new_user_index = new_user_matrix.shape[0] - 1

new_user_item_matrix = user.loc[:, movie_mask]

user_csr_data = csr_matrix(new_user_item_matrix.values)

# Find the closest 20 users to the new user
distances, indices = knn.kneighbors(user_csr_data, n_neighbors=50)

# Get the closest users' indexes
closest_users_indexes = indices[0]

# Get the closest users' ids
# closest_users_ids = user_item_matrix.iloc[closest_users_indexes]['userId']

In [ ]:
indices, distances

In [ ]:
closest = csr_data[closest_users_indexes].todense()

In [ ]:
movieIds = [1,2,3,7,8]

new_user_ratings = {key: value for key, value in zip(movieIds, [4,3,5,4,6])}

new_user_ratings

user = pd.DataFrame([np.zeros(matrix_original.columns.shape)], columns=matrix_original.columns)

user.loc[:, new_user_ratings.keys()] = new_user_ratings.values()

In [ ]:
user[new_user_ratings.keys()]

In [ ]:
closest_users_indexes, new_user_ratings.keys()

In [ ]:
closest.loc[:, new_user_ratings.keys()]

In [ ]:
closest = pd.DataFrame(closest, columns=user_item_matrix.columns)

In [ ]:
closest